@font-face {
    font-family: "TT Firs Neue"; 
    src: url("components/TTFirsNeue-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "TT Firs Neue"; 
    src: url("components/TTFirsNeue-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("components/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "Roboto"; 
    src: url("components/Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 700; 
}