$black-color: #202020;
$orange-color: #FF6E30;
$white-color: #fff;
$grey-color: #cacaca;
$badge-color: #333333;
$active-color: #CE4307;
$dark-orange: #BC572B;

$primary-font:  'Roboto', sans-serif;
$secondary-font: 'TT Firs Neue', 'Roboto', sans-serif; 

$tablet-large: 1319px;
$tablet: 1023px;
$mobile: 767px;